.flex {
	display: flex;
	padding-left: 16px;
	align-items: center;
}
.flexSb {
	display: flex;
	justify-content: space-between;
}
.loggo {
	top: 17px;
	right: 17px;
	position: relative;
	width: 100px;
	height: 30px;
	cursor: pointer;
}
.trigger {
	font-size: 22px;
}
.select {
	top: 1px;
	color: #1890ff;
	border-color: #1890ff;
}
.closeIcon {
	margin-left: 10px;
	font-size: 10px;
}

.fixed {
	overflow: auto;
	height: 100vh;
	position: fixed;
	left: 0;
}
