.rantion_loading{
  text-align: center;
}
.page404{
  text-align: center;
  padding-top: 20vh;
  font-size: 100px;
  line-height: 1;
}
.subtitle {
  color: #00000073;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}
